:root {
  --heading-height: 10vh;
  --footer-height: 10vh;
  --main-theme-color: #366735;
  --second-theme-color: rgba(190, 190, 190);
  --highlight-color: rgba(140, 140, 140);
  --window-side-padding: 20vw;
  /* --window-side-padding: 0vw; */
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* height: 100vh; */
	/* gap: 60px; */
}


.header {
	height: var(--heading-height);
	width: 100%;
	background-color: var(--main-theme-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15vw;
}


.heading {
	font-size: 50px;
	color: white;
}


.main {
	padding: 100px var(--window-side-padding);
}


.main-content {
	/* width: fit-content; */
	margin: auto;
	background-color: var(--second-theme-color);
	/* align-self: center; */
	border-radius: 2vw;
	padding: 2.5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1vw;
}


.field {
	flex-basis: 0;
	flex-grow: 1;
	/* min-width: 260px; */
	/* max-width: 600px; */
	padding: 0.75vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.75vw;
	background-color: var(--main-theme-color);
	border-radius: 3%;
}


.field__tile {
	height: 8vw;
	width: 8vw;
	border-radius: 10%;
	background-color: var(--second-theme-color);
	transition-duration: 0.7s;
	display: flex;
	justify-content: center;
	align-items: center;
}


.field__tile:hover {
	background-color: var(--highlight-color);
}



.outer-circle {
	width: 6vw;
	height: 6vw;
	border: 0.75vw black solid;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 50%;
	position: relative;
}


.side-picker__circle-container {
	height: 3vw;
	width: 3vw;
	border-radius: 0.3vw;
	display: flex;
	justify-content: center;
	align-items: center;
}


.side-picker__circle-container:hover {
	background-color: var(--highlight-color);
	transition-duration: 0.7s;
}


.side-picker__circle {
	background-color: rgba(0, 0, 0, 0);
	height: 2.4vw;
	width: 2.4vw;
	border: 0.4vw black solid;
}


.cross {
	width: 7vw;
	height: 7vw;
	position: relative;
}


.cross__left-stick, .cross__right-stick{
	width: 6.5vw;
	height: 1vw;
	border-radius: 0.5vw;
	position: absolute;
	left: 50%;
	top: 50%; 
	background-color: black;
}


.cross__left-stick {
	transform: translate(-50%, -50%) rotate(45deg);
}


.cross__right-stick {
	transform: translate(-50%, -50%) rotate(-45deg);
}


.side-picker__cross {
	height: 3vw;
	width: 3vw;
	border-radius: 0.3vw;
	transition-duration: 0.7s;
}


.side-picker__cross:hover {
	background-color: var(--highlight-color);
	transition-duration: 0.7s;
}


.side-picker__stick {
	width: 90%;
	height: 15%;
	border-radius: 0.3vw;
}


.side-panel {

	flex-basis: 0;
	flex-grow: 1;
	align-self: stretch;
	padding: 0.75vw;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.75vw;
	background-color: var(--main-theme-color);
	border-radius: 3%;

}

.stats {
	height: 30%;
	background-color: var(--second-theme-color);
	border-radius: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.sliders {
	height: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.slider {

	height: 3.625vw;
	width: 48%;
	background-color: var(--second-theme-color);
	border-radius: 12px;
	color: black;
	font-size: 1.3rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;

}


.stats__victories, .stats__losses {
	width: 100%;
	height: 80%;
	border-radius: 12px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: 20%;
}


.stats__text, .stats__result {
	height: 2.5vw;
	width: 7.2vw;
	border-radius: 8px;
	text-align: center;
	background-color: var(--main-theme-color);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
}


.stats__text {
	font-weight: 700;
}


.controls {
	height: 8vw;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	/* font-size: 1.5rem; */
}


.side-picker {
	height: 3.625vw;
	padding: 0 2vw;
	border-radius: 12px;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--second-theme-color);
	text-align: left;
}


.side-picker__text {
	font-size: 1.7rem;
}


.controls__give-up-button {
	height: 3.625vw;
	padding: 0 2vw;
	background-color: var(--second-theme-color);
	border-radius: 12px;
	color: black;
	font-size: 1.7rem;
}


.controls__give-up-button {
	display: block;
	border: none;
	outline: none;
	text-align: left;
}


.side-picker__sides {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.3vw;
}



.link-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	min-width: 280px;
}


.footer {
	height: var(--footer-height);
	width: 100%;
	background-color: var(--main-theme-color);
	font-size: 20px;
	color: white;
	padding: 0 var(--window-side-padding);
	display: flex;
	justify-content: center;
	align-items: center;
}


.footer__link {
	text-decoration: none;
	color: white;
}


@media (max-width: 900px) {

	body {
		background-color: gray;
	}

	.main-content {
		flex-direction: column;
		/* flex-wrap: wrap; */
	}

	.field {
		flex-basis: unset;
		width: 100%;
	}

	.side-panel {
		height: 35vh;
		width: 100%;
		flex-basis: unset;
		flex-grow: unset;
		align-self: unset;
	}

	.controls {
		height: 30%;
	}

	.side-picker, .controls__give-up-button {
		height:  42%;
	}

	.heading {
		font-size: 36px;
	}

	:root {
		--window-side-padding: 7vw;
	}

}


input {
	width: 80%;
}