:root {
  --heading-height: 150px;
  --footer-height: 150px;
  --main-theme-color: #366735;
  --second-theme-color: rgba(190, 190, 190);
  --highlight-color: rgba(140, 140, 140);
}


body {
    background-color: var(--blue);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	gap: 60px;
}


.heading__container {
	height: var(--heading-height);
	width: 100%;
	background-color: var(--main-theme-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15vw;
}


.heading {
	font-size: 50px;
	color: white;
}


.container {
	width: 60vw;
	background-color: var(--second-theme-color);
	align-self: center;
	border-radius: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3.5vw;
}


.field {
	background-color: var(--main-theme-color);
	height: 27vw;
	width: 27vw;
	border-radius: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0.75vw
}


.field__tile {
	height: 8vw;
	width: 8vw;
	border-radius: 12px;
	background-color: var(--second-theme-color);
	transition-duration: 0.7s;
	margin-bottom: 0.75vw;
	display: flex;
	justify-content: center;
	align-items: center;
}


.field__tile:hover {
	background-color: var(--highlight-color);
}



.outer-circle {
	width: 6vw;
	height: 6vw;
	border: 0.75vw black solid;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 50%;
	position: relative;
}


/* .inner-circle {
	width: 4.5vw;
	height: 4.5vw;
	background-color: var(--second-theme-color);
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%; 
	transform: translate(-50%, -50%);
} */


.symbol-chooser__circle-container {
	width: 2.6vw;
	height: 2.6vw;
	border-radius: 0.3vw;
	display: flex;
	justify-content: center;
	align-items: center;
}


.symbol-chooser__circle-container:hover {
	background-color: var(--highlight-color);
	transition-duration: 0.7s;
}


.symbol-chooser__circle {
	background-color: rgba(0, 0, 0, 0);
	height: 2vw;
	width: 2vw;
	border: 0.387vw black solid;
}


.cross {
	width: 7vw;
	height: 7vw;
	position: relative;
}


.cross__left-stick, .cross__right-stick{
	width: 6.5vw;
	height: 1vw;
	border-radius: 0.5vw;
	position: absolute;
	left: 50%;
	top: 50%; 
	background-color: black;
}


.cross__left-stick {
	transform: translate(-50%, -50%) rotate(45deg);
}


.cross__right-stick {
	transform: translate(-50%, -50%) rotate(-45deg);
}


.symbol-chooser__cross {
	height: 2.6vw;
	width: 2.6vw;
	border-radius: 0.3vw;
	transition-duration: 0.7s;
}


.symbol-chooser__cross:hover {
	background-color: var(--highlight-color);
	transition-duration: 0.7s;
}


.symbol-chooser__left-stick, .symbol-chooser__right-stick{
	width: 2.3vw;
	height: 0.4vw;
	border-radius: 0.2vw;
}


.footer {
	height: var(--footer-height);
	width: 100%;
	background-color: var(--main-theme-color);
	font-size: 20px;
	color: white;
	padding: 0 15vw;
	display: flex;
	justify-content: center;
	align-items: center;
}


.side-panel {
	width: 24vw;
	height: 100%;
	background-color: var(--main-theme-color);
	border-radius: 25px;
	padding: 0.75vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.stats {
	background-color: var(--second-theme-color);
	height: 8vw;
	border-radius: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1vw;
	gap: 1vw;
}


.stats__victories, .stats__losses {
	height: 6vw;
	width: 100%;
	border-radius: 12px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}


.stats__text, .stats__result {
	height: 2.5vw;
	width: 7.2vw;
	border-radius: 8px;
	text-align: center;
	background-color: var(--main-theme-color);
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.stats__text {
	font-weight: 700;
}


.controls {
	height: 8vw;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}


.controls__give-up-button, .symbol-chooser {
	height: 3.625vw;
	padding: 0 2vw;
	background-color: var(--second-theme-color);
	border-radius: 12px;
	color: black;
	font-size: 27px;
}


.controls__give-up-button {
	display: block;
	border: none;
	outline: none;
	text-align: left;
}

.symbol-chooser {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.symbol-chooser__container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}


.footer__link-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}


.footer__quote {
	font-style: italic;
	display: block;
	margin-bottom: 3px;
}


.footer__quote-author {
	text-align: right;
	font-size: 17px;
	font-style: italic;
	display: block;
}


.footer__link {
	text-decoration: none;
	color: white;
}