.main {
	height: calc(100vh - var(--heading-height) - var(--footer-height));
	padding: 8.5vh 0;
	margin: 0 var(--window-side-padding);
}


.main-content {
	background-color: var(--second-theme-color);
	border-radius: 2vw;
	padding: 2.5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2.5vw;
}
